<!-- /views/admin/restaurants.handlebars-->
<h1>餐廳後台</h1>

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<br />
<br />
<a href="/admin/restaurants">Restaurants 餐廳管理</a>
<span>|</span>
<a href="/admin/users">Users 使用者管理</a>
<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">編號</th>
      <th scope="col">Name</th>
      <th scope="col">操作選項</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <a href="/admin/restaurants/{{this.id}}">
          <button type="button" class="btn btn-outline-info">
            詳情
          </button>
        </a>
        <a href="/admin/restaurants/{{this.id}}/edit">
          <button type="button" class="btn btn-outline-primary">
            編輯
          </button>
        </a>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>